<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <div class="form">
      <form action="/todos/<%= todo._id %>?_method=PUT" method="post">
        <label>todo</label>
        <input type="text" name="text" value="<%= todo.text %>" />
        <input type="text" value="<%=todo.done  %>" name="done" />
        <button type="submit">update</button>
      </form>
    </div>
  </body>
</html>
